body {
  margin: 0;
  display: flex;
  background: #0f1117;
  color: white;
  font-family: monospace;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #161b22;
  padding: 20px;
  position: fixed;
  height: 100vh;
  box-shadow: 0 0 20px rgba(0,255,200,0.2);
}

.sidebar h2 {
  color: #00ffcc;
}

.progress-container {
  width: 100%;
  height: 15px;
  background: #333;
  border-radius: 10px;
  margin-top: 10px;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: #00ffcc;
  border-radius: 10px;
  transition: 0.3s;
}

/* Content */
.content {
  margin-left: 270px;
  padding: 30px;
  width: 100%;
}

a {
  color: #00ffcc;
  text-decoration: none;
}

a:hover {
  color: yellow;
  text-shadow: 0 0 5px yellow;
}

details {
  margin-bottom: 15px;
  background: #161b22;
  padding: 10px;
  border-radius: 10px;
}

summary {
  cursor: pointer;
  font-weight: bold;
}

input[type="checkbox"] {
  margin-right: 8px;
}
