body {
  margin: 0;
  display: flex;
  font-family: monospace;
  background: #0f1117;
  color: white;
}

.sidebar {
  width: 250px;
  background: #161b22;
  padding: 20px;
  position: fixed;
  height: 100vh;
  box-shadow: 0 0 20px rgba(0,255,200,0.2);
}

.sidebar h2 {
  color: #00ffcc;
}

.sidebar input {
  width: 100%;
  padding: 8px;
  background: #0f1117;
  border: 1px solid #00ffcc;
  color: white;
  margin-top: 10px;
  border-radius: 5px;
}

.content {
  margin-left: 270px;
  padding: 30px;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 8px 0;
}

a {
  color: #00ffcc;
  text-decoration: none;
}

a:hover {
  color: yellow;
  text-shadow: 0 0 5px yellow;
}
